{% extends 'base.html' %}
{% block title %} {{ item.name }}{% endblock %}
{% block content %}
  {% for item in items %}
    {{ item }}
  {% endfor %}
<form action="">
  {% csrf_token %}
  <button id="checkout-button">Купить!</button>
</form>
 <script type="text/javascript">
    const csrf = document.getElementsByName('csrfmiddlewaretoken')
    let stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
    let checkoutButton = document.getElementById("checkout-button");

    checkoutButton.addEventListener("click", function () {
      fetch("{% url 'create_session' item.id %}", {
        method: "POST",
        headers: {
            'X-CSRFToken': csrf
        }
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  </script>
{% endblock %}